body *{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flex-row-star{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.txt-red{
  color: red;
}
.input-group{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
}
.input-group .form-control{
  border: none;
  box-shadow: none;
}
.input-group .form-control:focus{
  box-shadow: none;
}
.input-group .input-group-addon{
  background-color: transparent;
  border: none;
}
.glyphicon{
  font-size: 2.1em;
  color: gray;
}
.divcont{
    background-color: lightgray;
    margin: 15px;
}
.divImg{
  overflow: hidden;
  width: 200px;
  height: 200px;
  padding: 25px 15px;
}
.trapecio {
    width: 200px;
    height: 60px;
    background-image: url(../icon/base.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.divImg img{
  width: 100%;
  height: 100%;
}
.ico{
  width: 26px;
  height: 26px;
  padding: 5px;
}
.name{
  text-transform: capitalize;
  font-weight: 100;
}
