body *{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flex-row-star{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.txt-red{
  color: red;
}
/*Filter*/
.input-group{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
}
.input-group .form-control{
  border: none;
  box-shadow: none;
}
.input-group .form-control:focus{
  box-shadow: none;
}
.input-group .input-group-addon{
  background-color: transparent;
  border: none;
}
.glyphicon{
  font-size: 2.1em;
  color: gray;
}
/*All img*/
.divcont{
    background-color: lightgray;
    margin: 15px;
    text-decoration: none;
    color: black;
}
a:hover, .divcont:hover,a:focus,.divcont:focus{
    text-decoration: none;
    color: black;
}
.divImg{
  overflow: hidden;
  width: 200px;
  height: 200px;
  padding: 25px 15px;
}
.trapecio {
    width: 200px;
    height: 60px;
    background-image: url(../icon/base.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.divImg img{
  width: 100%;
  height: 100%;
}
.ico{
  width: 26px;
  height: 26px;
  padding: 5px;
}
.name{
  text-transform: capitalize;
  font-weight: 100;
}
/*Modal*/
.modal-body{
  background-color: whitesmoke;
}
.modal-title{
  text-transform: capitalize;
}
.icon-x:before {
  content: "\e900";
}
.des{
  padding: 10px;
  text-align: justify;
}
.txt-white{
  color:white;
}
.bg-steelblue{
  background-color: steelblue;
}
.carac{
  width: 48rem;
  height: 200px;
}
.lef{
  padding: 50px 50px 50px 0px;
  margin-left: 0;
}
.rig{
  padding: 50px 0px 50px 50px;
  margin-right: 0px;
}
.tip , .deb {
    width: 48rem;
    height: auto;
    padding: 5px;
}
